<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="author" content="Nil Ni">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <%- body -%>
  <div id="mtime"> Last Modified Time: <%= mtime %> </div>
  <div id="btime"> Created at: <%= btime %> </div>
</body>
</html>
